table{
    width: 50%;
}

.tables table,th,td{

 border: 1px solid black;
}

table th{
    background-color: rgb(133, 169, 107);
}

table tbody tr td:nth-child(even){
    text-align: center;

}
table tbody tr td:nth-child(odd){
    text-align: center;

}

table tbody tr:nth-child(even){
    background-color: rgb(194, 193, 193);

}